<!DOCTYPE html>
<html>
	<head>
		<title>SVMP HTML5 Client</title>
		<link rel="stylesheet" href="/static/css/index.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	</head>
	<body>
		<div id="content">
			<div id="loginbox">
				<form id="loginform">
					<label for="proxyhost">Proxy Host:</label>
					<input type="text" id="proxyhost" name="proxyhost"><br />
					<label for="proxyport">Proxy Port:</label>
					<input type="text" id="proxyport" name="proxyport"><br />
					<label for="username">Username:</label>
					<input type="text" id="username" name="username"><br />
					<label for="password">Password:</label>
					<input type="text" id="password" name="password"><br />
					<button value="submit">Go!</button>
				</form>
			</div>
			<video id="rtcvidstream" class="hide" autoplay></video>
			<canvas id="touchcanvas" class="hide"></canvas>
		</div>
		<script src="/static/js/dependencies/Long.min.js"></script>
		<script src="/static/js/dependencies/ByteBufferAB.min.js"></script>
		<script src="/static/js/dependencies/ProtoBuf.min.js"></script>
		<script src="/static/js/dependencies/jquery-2.1.1.min.js"></script>
		<script src="/static/js/dependencies/RTCPeerConnection-v1.5.js"></script>
		<script src="/static/js/handlers.js"></script>
		<script>
			if(typeof(webkitRTCPeerConnection) == "function") {
				window.browser = 0; //chrome/opera
			}
			else if(typeof(mozRTCPeerConnection) == "function") {
				window.browser = 1; //firefox
			}
			else {
				document.getElementById("loginbox").innerHTML = "<h1 class=\"unsupported\">This browser is not supported</h1>";
				throw { name: 'FatalError', message: 'Unsupported browser' };
			}
			window.isMobile = ($("#touchcanvas").css("position") == "absolute");
			var ws = new WebSocket("ws://{{ host }}:{{ port }}/ws");
			ws.binaryType = "arraybuffer";
			var ProtoBuf = dcodeIO.ProtoBuf;
			var builder = ProtoBuf.loadProtoFile("static/data/container.proto");
			var svmp = builder.build("svmp");

			ws.onopen = function() {
				console.log("ws opened");
			};

			ws.onmessage = function(ev) {
				var contbuilder = builder.build("svmp.Container");
				var decodedcontainer = contbuilder.decode(ev.data);
				console.log(decodedcontainer.ctype);
				switch(decodedcontainer.ctype) {
					case 0:
						console.log("Erroneous CONNECT packet received");
						break;
					case 1:
						window.connected = true;
						ws.send(window.authpacket.encode().toArrayBuffer());
						break;
					case 2:
						console.log("Erroneous REQUEST packet receieved");
						break;
					case 3:
						handleResponse(decodedcontainer.response, ws, svmp);
						break;
					case 4:
						console.log("Erroneous READPACKET packet received");
						break;
					default:
						console.log("Bad ctype in received packet: " + decodedcontainer.ctype);
						break;
				}
			};

			ws.onclose = function(ev) {
				console.log("socket close: " + ev.data);
			};
			
			ws.onerror = function(ev) {
				console.log("socket error: " + ev.data);
			};

			window.socket = ws;
	
			$('#loginform').submit(function(event) {
				event.preventDefault();
				var host = $('#proxyhost').val();
				var port = $('#proxyport').val();
				var username = $('#username').val();
				var password = $('#password').val();
				if(!window.connected) {
					var connpacket = new svmp.Container({"ctype" : 0, "proxyhost" : host, "proxyport": parseInt(port)});
					ws.send(connpacket.encode().toArrayBuffer());
				}
				if(!window.authenticated) {
					var areq = new svmp.AuthRequest({"type" : 1, "username" : username, "password" : password});
					var req = new svmp.Request({"type" : 0, "authRequest": areq});
					window.authpacket = new svmp.Container({"ctype" : 2, "request" : req});
				}
				if(window.connected && !window.authenticated) {
					ws.send(window.authpacket.encode().toArrayBuffer());
				}
			});

			//Render WebRTC video onto canvas rather than directly in <video> element so we can get touch events
			var canvas			= document.getElementById("touchcanvas");
			window.canvasctx	= canvas.getContext('2d');
			var vid				= document.getElementById("rtcvidstream");

			vid.addEventListener('play', function() {
				this_ = this;
				setTimeout(function drawloop() {
					try {
						window.canvasctx.drawImage(this_, 0, 0);
					}
					catch(ex) {
						if(ex.name == "NS_ERROR_NOT_AVAILABLE") {
							setTimeout(drawloop, 0);
						}
						else {
							throw ex;
						}
					}
					setTimeout(drawloop, 1000 / 60);
				}, 0);
			}, 0);

			//Capture touch events
			canvas.addEventListener("touchstart", function(ev) { handleTouchStart(ev, ws, svmp) }, false);
			canvas.addEventListener("touchend", function(ev) { handleTouchEnd(ev, ws, svmp) }, false);
			canvas.addEventListener("touchmove", function(ev) { handleTouchMove(ev, ws, svmp) }, false);
			//Capture mouse events
			canvas.addEventListener("mousedown", function(ev) { handleMouseStart(ev, ws, svmp) }, false);
			canvas.addEventListener("mouseup", function(ev) { handleMouseEnd(ev, ws, svmp) }, false);
			canvas.addEventListener("mousemove", function(ev) { handleMouseMove(ev, ws, svmp) }, false);
		</script>
	</body>
</html>
