<!DOCTYPE html>
<html>
	<head>
		<title>SVMP HTML5 Client</title>
		<link rel="stylesheet" href="/static/css/index.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	</head>
	<body>
		<div id="loginbox">
			<form id="loginform">
				<label for="proxyhost">Proxy Host:</label>
				<input type="text" id="proxyhost" name="proxyhost"><br />
				<label for="proxyport">Proxy Port:</label>
				<input type="text" id="proxyport" name="proxyport"><br />
				<label for="username">Username:</label>
				<input type="text" id="username" name="username"><br />
				<label for="password">Password:</label>
				<input type="text" id="password" name="password"><br />
				<button value="submit">Go!</button>
			</form>
		</div>
		<script src="/static/js/dependencies/Long.min.js"></script>
		<script src="/static/js/dependencies/ByteBufferAB.min.js"></script>
		<script src="/static/js/dependencies/ProtoBuf.min.js"></script>
		<script src="/static/js/dependencies/jquery-2.1.1.min.js"></script>
		<script>
			var ws = new WebSocket("ws://{{ host }}:{{ port }}/ws");
			ws.binaryType = "arraybuffer";
			var ProtoBuf = dcodeIO.ProtoBuf;
			var builder = ProtoBuf.loadProtoFile("static/data/container.proto");
			var svmp = builder.build("svmp");

			ws.onopen = function() {
				console.log("ws opened");
			};

			ws.onmessage = function(ev) {
				console.log("Message received: " + ev.data);
				window.tempdata = ev.data;
				var contbuilder = builder.build("svmp.Container");
				var decodedcontainer = contbuilder.decode(ev.data);
				console.log(decodedcontainer);
			};

			ws.onclose = function(ev) {
				console.log("socket close: " + ev.data);
			};
			
			ws.onerror = function(ev) {
				console.log("socket error: " + ev.data);
			};
	
			$('#loginform').submit(function(event) {
				event.preventDefault();
				var host = $('#proxyhost').val();
				var port = $('#proxyport').val();
				var username = $('#username').val();
				var password = $('#password').val();
				var connpacket = new svmp.Container({"ctype" : 0, "proxyhost" : host, "proxyport": parseInt(port)});
				ws.send(connpacket.encode().toArrayBuffer());
				var areq = new svmp.AuthRequest({"type" : 1, "username" : username, "password" : password});
				var req = new svmp.Request({"type" : 0, "authRequest": areq});
				window.authpacket = new svmp.Container({"ctype" : 2, "request" : req});
				ws.send(window.authpacket.encode().toArrayBuffer());
			});
		</script>
	</body>
</html>
